.heading{
    color: rgb(120, 120, 239);
}
.heading1{
    margin-top: 7rem;
}
.img{ 
    height: 300px;
    width: 500px;
    margin: 10px;
    border-radius: 12px;
}
.img :hover{
    display: none !important;
}

.p-box :hover{
    color: gray !important;
    background-color: gray !important;
}
.link{
    text-decoration: none;
color: white;
}

.btn{
    background: rgb(120, 120, 239) !important;
    color: white !important;
    padding: 1rem !important;

}
.card{
    height: 450px;
    
}
.btn:hover{
    color: rgb(120, 120, 239) !important;
    border: 1px solid rgb(120, 120, 239) !important;
    background:white !important;
transition: all 1s;

}
