.heading {
  color: rgb(120, 120, 239);
}
.heading1 {
  margin-top: 7rem;
}
.skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.skills {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 2rem;
  padding: 2rem;
  margin-bottom: 100px;
  border-radius: 12px;
  transition: all 0.5s;
  height: 4rem;

}
.skills:hover {
  border: 5px solid rgb(120, 120, 239);
  color: rgb(120, 120, 239);
  margin-bottom:100px ;
  padding: 2rem;
}
