li {
  cursor: pointer;
  padding: 10px;
}

li:hover {
  border-bottom: none;
  background: rgb(120, 120, 239) !important;
  color: white !important ;
  transition: all 1s !important;
}
.logo {
  width: 6rem;
  height: 6rem;
}
